.header-container {
    background-color: var(--primary-color-5);
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    color: var(--white);
    padding: 16px 0;
    position: relative;
}

.header-menu a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--white);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
}

.header-menu .menu-btn {
    padding: 12px 16px;
    color: var(--primary-color-5);
    background-color: var(--white);
    border-radius: 4px;
    margin-left: 60px;
}

.header-menu .menu-btn::after {
    display: none;
}

.header-menu .menu-btn:hover {
    background-color: var(--gray-2)
}