{% extends 'base.html' %}
{% load static %}

{% block title %}Dublin Inn Real Estate | Find your dream house{% endblock %}

{% block content %}

<main class="intro-bg">
    <div class="intro container">
        <div class="intro-content">
            <h2 class="font-p-xxl gray-10">We help you to find your dream house<span class="primary-color-5">.</span>
            </h2>
            <p class="font-f-l gray-7">We offer you a personalised service for the sale, purcharse or rental of real
                estate.</p>
            <a class="button font-p-m-b" href="">Get Started</a>
        </div>
        <div>
            <img src="{% static 'img/img-intro.jpg' %}" alt="An image of buildings.">
        </div>

        <div class="intro-form">
            <p class="font-f-s gray-10">Find the price that fits to your budget</p>
            <form action="{% url 'property-searching' %}" method="GET">
                <div class="form-content">
                    <select name="location" id="location" class="location gray-9">
                        <option value="">Location</option>
                        <optgroup label="Districts">
                            {% for district in districts %}
                            <option value="{{ district.id }}">{{ district }}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Neighborhoods">
                            {% for neighborhood in neighborhoods %}
                            <option value="{{ neighborhood.id }}">{{ neighborhood }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    <select name="property-type" id="property-type" class="property-type gray-9">
                        <option value="">Property Type</option>
                        <option value="1">Studio</option>
                        <option value="2">Apartment</option>
                        <option value="3">House</option>
                    </select>
                    <select name="min" id="min-price" class="gray-9">
                        <option value="">Min. Price</option>
                        <option value="1000">&#8364; 1000</option>
                        <option value="2000">&#8364; 2000</option>
                        <option value="3000">&#8364; 3000</option>
                        <option value="4000">&#8364; 4000</option>
                        <option value="5000">&#8364; 5000</option>
                        <option value="6000">&#8364; 6000</option>
                        <option value="7000">&#8364; 7000</option>
                        <option value="8000">&#8364; 8000</option>
                        <option value="9000">&#8364; 9000</option>
                        <option value="10000">&#8364; 10000</option>
                    </select>
                    <select name="max" id="max-price" class="gray-9">
                        <option value="">Max. Price</option>
                        <option value="1000">&#8364; 1000</option>
                        <option value="2000">&#8364; 2000</option>
                        <option value="3000">&#8364; 3000</option>
                        <option value="4000">&#8364; 4000</option>
                        <option value="5000">&#8364; 5000</option>
                        <option value="6000">&#8364; 6000</option>
                        <option value="7000">&#8364; 7000</option>
                        <option value="8000">&#8364; 8000</option>
                        <option value="9000">&#8364; 9000</option>
                        <option value="10000">&#8364; 10000</option>
                    </select>
                    <button class="button button-search font-f-xs" type="submit">Search Now</button>
                </div>
            </form>
        </div>
    </div>
</main>

<article class="property-list">
    <div class="container property-header">
        <h2 class="font-p-xxl gray-10">Featured Properties<span class="primary-color-5">.</span></h2>
        <a class="link-home font-f-m primary-color-5" href="{% url 'properties' %}">View all</a>
    </div>
    <ul>
        {% for property in properties %}
        <li>
            <a href="{% url 'property_detail' property.slug %}">
                <img src="{{ property.image.all.0.image.url }}" alt="Property 1">
                <h3 class="font-p-xl gray-10">{{ property }}</h3>
                <div class="icons font-f-m gray-8">
                    <img src="{% static 'img/icons/icon-bed.svg' %}" alt=""><span>{{ property.bedrooms }}</span>
                    <img src="{% static 'img/icons/icon-bathtub.svg' %}" alt=""><span>{{ property.bathrooms }}</span>
                    <img src="{% static 'img/icons/icon-measures.svg' %}" alt=""><span>{{ property.metreage }}m²</span>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</article>

<article class="container features">
    <div class="features-header">
        <h2 class="font-p-xxl gray-10">Why choose us<span class="primary-color-5">.</span></h2>
    </div>
    <ul class="font-f-m gray-7">
        <li>
            <img src="{% static 'img/why_choose_us_1.svg' %}" alt="">
            <p>Advertise for free to over 50,000 people every day.</p>
        </li>
        <li>
            <img src="{% static 'img/why_choose_us_2.svg' %}" alt="">
            <p>Track visits and proposals through the application. </p>
        </li>
        <li>
            <img src="{% static 'img/why_choose_us_3.svg' %}" alt="">
            <p>Wherever you are, close deals without bureaucracy.</p>
        </li>
    </ul>
</article>

<article class="keys-bg">
    <div class="keys container">
        <div class="keys-image">
            <img src="{% static 'img/differential-key.jpg' %}" alt="">
        </div>
        <div class="keys-content">
            <span class="font-f-l-b gray-6">Market reference</span>
            <h2 class="font-p-xxl gray-10">Open doors to live better<span class="primary-color-5">.</span></h2>
            <p class="font-f-l gray-8">We believe that the home profoundly influences our lives.
                That's why we want to go beyond the sale or rental of real
                estate and allow you to live new stories.</p>
            <a href="" class="link">See our properties</a>
            <div class="keys-benefits">
                <div>
                    <img src="{% static 'img/icons/icon-pet.svg' %}" alt="">
                    <h3 class="font-p-l gray-8">Pet allowed</h3>
                    <p class="font-f-s gray-7">Your pet is also a member of the family. We have properties for you
                        to take your whole family with you.</p>
                </div>

                <div>
                    <img src="{% static 'img/icons/icon-24h.svg' %}" alt="">
                    <h3 class="font-p-l gray-8">24 hours Service</h3>
                    <p class="font-f-s gray-7">Whatever your problem, whatever the time, we will be here to solve
                        it.</p>
                </div>
            </div>
        </div>
    </div>
</article>

<article class="testimonial">
    <div class="container">
        <h2 class="font-p-xxl gray-10">What our customers say<span class="primary-color-5">.</span></h2>
    </div>
    <ul class="testimonial-list">
        <li>
            <img class="profile1" src="{% static 'img/profile-1.jpg' %}" alt="">
            <h3 class="font-f-l gray-9">Peter O'Connor</h3>
            <p class="font-f-s gray-7">A company whose professionals are outstanding, leaving you more confident to
                close the deal.</p>
            <div class="primary-color-6">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
            </div>
        </li>

        <li>
            <img class="profile2" src="{% static 'img/profile-2.jpg' %}" alt="">
            <h3 class="font-f-l gray-9">Ciara McAdams</h3>
            <p class="font-f-s gray-7">They're very efficient. I got in touch one day and the next day I had my
                contract signed.</p>
            <div class="primary-color-7">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
            </div>
        </li>

        <li>
            <img class="profile3" src="{% static 'img/profile-3.jpg' %}" alt="">
            <h3 class="font-f-l gray-9">Urla Diamond</h3>
            <p class="font-f-s gray-7">I needed to rent a property as soon as I arrived in the city and they did all
                the work
                between me and the owner.</p>
            <div class="primary-color-6">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
            </div>
        </li>
    </ul>
</article>

{% endblock %}