{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %} | Dublin Inn Real Estate{% endblock %}

{% block content %}

{% if form.errors %}
<div class="errors">
    {{ form.non_field_errors }}
</div>
  {% endif %}

<form class="login container" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="login-form form">
    <h2 class="font-p-m gray-10">Find your dream home</h2>
    <div class="col-2">
      <input type="text" id="id_login" name="login" placeholder="Your username" autocomplete="off"
        control-id="ControlID-2" required>
    </div>
    <div class="col-2">
      <input type="password" id="id_password" name="password" placeholder="Password" autocomplete="off"
        control-id="ControlID-3" required>
    </div>
    <a class="secondaryAction font-f-s gray-7" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?"%}</a>
    <button class="button" type="submit">Sign in</button>
    <span class="font-f-s gray-8 col-2">Not a member? Sign up for <a href="{{ signup_url }}"
        class="underline black">free</a></span>
    <div class="form-social-login col-2">
      <p class="font-f-s gray-7">Login with</p>
      <div class="icons">
        <a href=""><img src="{% static 'img/icons/facebook-black.svg' %}" alt="Icon Facebook"></a>
        <a href=""><img src="{% static 'img/icons/twitter.svg' %}" alt="Icon Twitter"></a>
        <a href=""><img src="{% static 'img/icons/google.svg' %}" alt="Icon Google"></a>
      </div>
    </div>
  </div>
  <div class="login-image"></div>
</form>

{% endblock %}