{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="reset container">
    <h1 class="font-p-xl gray-10">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="font-f-m gray-8">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required="" id="id_email" control-id="ControlID-1">
        <button class="button arrow" type="submit">{% trans 'Reset My Password' %}</button>
    </form>

    <p class="font-f-xs gray-11">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
