{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block title %}{% trans "Signup" %} | Dublin Inn Real Estate{% endblock %}

{% block content %}

<!-- <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->

<form class="signup container" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="signup-form form">
    <h2 class="font-p-m gray-10">Sign up with your best email</h2>
    <div class="col-2">
      <input type="text" id="id_fname" name="fname" placeholder="First name" autocomplete="off" control-id="ControlID-2"
        required>
    </div>
    <div class="col-2">
      <input type="text" id="id_lname" name="lname" placeholder="Last name" autocomplete="off" control-id="ControlID-2"
        required>
    </div>
    <div class="col-2">
      <input type="text" id="id_email" name="email" placeholder="Email address" autocomplete="off"
        control-id="ControlID-2" required>
    </div>
    <div class="col-2">
      <input type="password" id="id_password1" name="password1" placeholder="Password" autocomplete="off"
        control-id="ControlID-3" required>
    </div>
    <div class="col-2">
      <input type="password" id="id_password2" name="password2" placeholder="Confirm password" autocomplete="off"
        control-id="ControlID-3" required>
    </div>
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="button" type="submit">Sign up</button>
    <span class="font-f-s gray-8 col-2">Already have an account? <a href="{{ login_url }}"
        class="underline black">Sign in</a></span>
  </div>
  <div class="signup-image"></div>
</form>

{% endblock %}