{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Signup" %} | Dublin Inn Real Estate{% endblock %}

{% block content %}

{% if form.errors %}
<div class="errors">
    {{ form.errors }}
</div>
{% endif %}

{% get_providers as socialaccount_providers %}

<form class="signup container" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="signup-form form">
    <h2 class="font-p-m gray-10">Sign up with your best email</h2>
    <div class="col-2">
      <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" control-id="ControlID-2"
        required>
    </div>
    <div class="col-2">
      <input type="text" id="id_email" name="email" placeholder="Email address" autocomplete="off"
        control-id="ControlID-2" required>
    </div>
    <div class="col-2">
      <input type="password" id="id_password1" name="password1" placeholder="Password" autocomplete="off"
        control-id="ControlID-3" required>
    </div>
    <div class="col-2">
      <input type="password" id="id_password2" name="password2" placeholder="Confirm password" autocomplete="off"
        control-id="ControlID-3" required>
    </div>
    <div class="terms">
      <input type="checkbox" name="terms" id="terms">
      <label class="font-f-xs gray-11" for="terms">I agree to the <a href="" class="bold underline">Terms of Service</a>.</label>
  </div>

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="button col-2" type="submit">Create account</button>
    <span class="font-f-s gray-8 col-2">Already have an account? <a href="{{ login_url }}"
        class="underline black">Sign in</a></span>

    {% if socialaccount_providers %}
    <div class="form-social-login col-2">
      <p class="font-f-s gray-7">Sign up with</p>
      <div class="icons">
        {% for provider in socialaccount_providers %}
        <a title="{{ provider.name }}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
          <img src="../../static/img/icons/{{ provider.name }}.svg" alt="Icon {{ provider.name }}"></a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  
  <div class="signup-image"></div>
</form>

{% endblock %}