.intro-bg {
    box-shadow: inset 0 -120px var(--gray-1);
    margin-bottom: 120px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    position: relative;
}

.intro-content {
    align-self: end;
    padding-bottom: 200px;
}

.intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 4px 4px;
}

h2 {
    margin-bottom: 32px;
}

.intro p {
    margin-bottom: 20px;
}

.intro-form {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 4px;
    position: absolute;
    bottom: 24px;
    left: 60px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.intro-form p {
    margin-left: 16px;
    margin-bottom: 12px;
    font-weight: 400;
}

/* Search Form */

.form-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.form-content .location {
    background: url("../../img/icons/icon-location.svg") no-repeat right 20px top 10px;
}

.form-content .property-type {
    background: url("../../img/icons/icon-property.svg") no-repeat right 20px top 15px;
}

.form-content .price-range {
    background: url("../../img/icons/icon-budget.svg") no-repeat right 20px top 15px;
}

input[type=text]:focus::placeholder {
    color: transparent;
}

input[type=text]:focus {
    background-image: none;
  }

input[type=text] {
    margin-left: 16px;
    padding: 16px;
    background: var(--gray-1);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}

input[type=text]:focus {
    border: none;
}

button.button {
    margin-left: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.button-search {
    padding-right: 40px;
}

button.button-search::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../img/icons/icon-search.svg") no-repeat;
    right: 0;
    position: absolute;
    margin-right: 16px;
}