.intro-bg {
    box-shadow: inset 0 -120px var(--gray-1);
    margin-bottom: 200px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    position: relative;
}

.intro-content {
    align-self: end;
    padding-bottom: 200px;
}

.intro img {
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 4px 4px;
}

h2 {
    margin-bottom: 32px;
    color: var(--gray-10);
}

h2 span {
    color: var(--primary-color-5);
}

.intro p {
    margin-bottom: 20px;
    color: var(--gray-7);
}

.intro-form {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 4px;
    position: absolute;
    bottom: 24px;
    left: 60px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.intro-form p {
    margin-left: 16px;
    margin-bottom: 12px;
    font-weight: 400;
    color: var(--gray-10);
}

/* Search Form */

.form-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

input[type=text] {
    margin-left: 16px;
    padding: 16px;
    background: var(--gray-1);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}

input[type=text]:focus {
    border: none;
}

button.button {
    margin-left: 24px;
    border: none;
    cursor: pointer;
}