.newsletter {
    padding-bottom: 120px;
}

.newsletter h2 {
    text-align: center;
}

.newsletter-container {
    background: rgba(255, 153, 0, 0.3);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
}

.newsletter-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.newsletter-content h3 {
    margin: 160px 60px 32px 120px;
}

.newsletter-content p {
    margin: 220px 60px 0px 120px;
}

.newsletter-content h3,
.newsletter-content p {
    grid-row: 1;
    grid-column: 1;
}

.newsletter-content img {
    border-radius: 0 5px 5px 0;
    grid-row: 1 / -1;
    grid-column: 2;
}

.newsletter-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 900px;
    margin: 72px;
    padding: 60px;
    background-color: var(--white);
    border-radius: 4px;
    position: absolute;
    bottom: 24px;
    left: 60px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.newsletter-form p {
    margin-left: 16px;
    margin-bottom: 12px;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.email-newsletter {
    margin-left: 16px;
    width: 600px;
    padding: 16px;
    background: var(--gray-1);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}
