.testimonial {
    padding-bottom: 120px;
}

.testimonial-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

}

.testimonial ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    padding: 0 20px;
}

.testimonial li {
    flex: 1;
    min-width: 180px;
    height: 450px;
    background-color: var(--white);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--gray-2);
    border-radius: 4px;
    position: relative;
}

.testimonial li::before {
    content: '';
    display: block;
    width: 40px;
    height: 35px;
    background: url(../../img/icons/icon-quotes.svg) no-repeat;
    position: absolute;
    top: 100px;
    left: 130px;
}

.testimonial img {
    border-radius: 50%;
    width: 100px;
    position: absolute;
    top: -50px;
    left: 100px;
}

.testimonial h3 {
    display: flex;
    margin-top: 200px;
    margin-bottom: 20px;
    width: 7em;
    margin-left: auto;
    margin-right: auto;
}

.testimonial p {
    padding: 20px;
    text-align: center;
}