.header-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
}

.schedule-list-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.schedule-list-content h2 {
    margin-bottom: 0;
}

.schedule-list-content:nth-child(even) {
    background-color: rgba(255, 153, 0, 0.3);
}

.schedule-list-content:nth-child(odd) {
    background-color: var(--gray-2);
}

.schedule-list-content img {
    align-self: flex-start;
    max-width: 120px;
}

.schedule-list-content:last-child {
    margin-bottom: 200px;
}

.schedule-list a:not(.cancelled):hover {
    background-color: var(--primary-color-5);
}

.edit-dropdown {
    position: relative;
    display: inline-block;
}

.edit-dropdown__content {
    display: none;
    position: absolute;
    background-color: var(--gray-2);
    min-width: 160px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -50px;
    top: 10px;
}

.edit-dropdown__content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.edit-dropdown__content a:hover {
    color: var(--white);
    border-radius: 0 0 4px 4px;
}

.edit-dropdown__content a::after {
    display: none;
}

.edit-dropdown:hover .edit-dropdown__content  {
    display: block;
}

.edit-dropdown span {
    position: relative;
}

.edit-dropdown span::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../../img/icons/ellipsis-solid.svg') no-repeat;
    position: absolute;
    top: -10px;
    right: 20px;
    cursor: pointer;
}

.cancelled,
.cancelled:hover {
    background-color: var(--red-button);
}

@media (max-width: 840px) {
    .header-list {
        display: none;
    }
    .schedule-list-content {
        flex-direction: column;
        gap: 20px;
    }
    .edit-dropdown span {
        right: -23px;
    }
}