.footer-bg {
    background-color: var(--primary-color-5);
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 32px;
}

.footer h3 {
    margin-bottom: 32px;
}

.footer-contact ul {
    margin-bottom: 32px;
}

footer li {
    margin-bottom: 16px;
}

.footer-social {
    display: flex;
    gap: 32px;
}

.footer a:hover {
    color: var(--white);
}

.copy {
    grid-column: 1 / -1 ;
    margin-top: 40px;
}

@media (max-width: 800px) {
    .footer > img {
        display: none;
    }
    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .copy {
        margin-top: 0;
    }
}