.login {
    display: grid;
    grid-template-columns: 5fr 7fr;
    margin-top: 120px;
    padding-bottom: 120px;
    position: relative;
}

.login h2 {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    position: relative;
    grid-column: 1 / -1;
}

.login-form {
    position: relative;
}

.login-form::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../../img/icons/icon-shamrock.svg');
    position: absolute;
    top: 16px;
    left: 16px;
}

.login-image,
.login-form {
    padding: 60px;
    margin-top: -60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.login-image {
    border-radius: 0 4px 4px 0;
    background-color: var(--gray-2);
    background: url('../../img/login.jpg') no-repeat center;
    background-size: cover;
}

.login-form {
    border-radius: 4px 0 0 4px;
    background-color: var(--white);
}

.login-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.login-form input[type=text] {
    background: url("../../img/icons/icon-user.svg") no-repeat left 20px top 16px;
}

.login-form input[type=password] {
    background: url("../../img/icons/icon-key.svg") no-repeat left 20px top 16px;
}

.login-form input[type=text],
.login-form input[type=password] {
    font: 300 0.875rem/1.5 "Fira Sans", sans-serif;
    background-color: var(--gray-2);
    border: 1px solid var(--gray-3);
    padding: 12px;
    padding-left: 50px;
    margin-left: 0;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    width: 100%;
    box-sizing: border-box;
}

.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
    outline: none;
    border-color: var(--primary-color-7);
    background-color: var(--white);
    box-shadow: 0 0 0 2px #fea;
}

.login-form .button {
    margin: 20px 0 32px 0;
    justify-self: end;
}

.form-social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.icons {
    display: flex;
}

.icons a {
    margin-left: 12px;
}

/* Social Login */

.social-login {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 60px auto;
    padding: 60px;
}

._404-page {
    background: var(--white);
}

._404-bg {
    background: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif") no-repeat center;
    height: 400px;
}

._404-bg h1 {
    text-align: center;
}

.social-login p {
    margin-bottom: 40px;
}

.social-login a.button {
    color: var(--primary-color-5);
    background-color: transparent;
    border: 2px solid var(--primary-color-5);
}

.social-login a.button:hover {
    color: var(--white);
    background: var(--primary-color-5);
}

@media (max-width: 1200px) {
    #login h1 {
        padding-bottom: 0;
    }

    .login-image,
    .login-form {
        padding: 32px;
        margin-top: 0;
    }

}

@media (max-width: 800px) {
    .login {
        grid-template-columns: 1fr;
    }

    .login-image {
        display: none;
    }

    .login-form {
        border-radius: 0 0 4px 4px;
    }
}

@media (max-width: 600px) {
    .login {
        margin-top: 20px;
    }

    .login-form .first-name {
        grid-column: span 2;
    }

    .login-form .last-name {
        grid-row: 3;
        grid-column: span 2;
    }
    ._404-bg h1 {
        font-size: 2.5rem;
    }
    .social-login p {
        font-size: 1rem;
        text-align: center;
    }
}