{% load static %}
<footer class="footer-bg">
    <div class="footer container">
        <img src="{% static 'img/logo.svg' %}" alt="">
        <div class="footer-contact">
            <h3 class="font-f-l-b white">Contact</h3>
            <ul class="font-p-m gray-4">
                <li><a href="tel:+35312345678">+353 1 234 5678</a></li>
                <li><a href="mailto:help@dublinnreal.ie">help@dublinnreal.ie</a></li>
                <li>1 O'Connel Street - Dublin 1</li>
                <li>Dublin - Ireland</li>
            </ul>
            <div class="footer-social">
                <a href="">
                    <img src="{% static 'img/icons/instagram.svg' %}" alt="">
                </a>
                <a href="">
                    <img src="{% static 'img/icons/facebook.svg' %}" alt="">
                </a>
                <a href="">
                    <img src="{% static 'img/icons/youtube.svg' %}" alt="">
                </a>
            </div>
        </div>
        <div class="footer-info">
            <h3 class="font-f-l-b white">Info</h3>
            <nav>
                <ul class="font-p-m gray-3">
                    <li><a href="{% url 'properties' %}">Properties</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Terms and Conditions</a></li>
                </ul>
            </nav>
        </div>
        <p class="copy font-f-s gray-4">Dublin Inn - Real State 2022 © All rights reserved</p>
    </div>
</footer>
