{% load static %}
<header class="header-container">
    <div class="header container">
        <h1><a href="{% url 'index' %}"><img class="logo" src="{% static 'img/logo.svg' %}" alt="Dublin Inn Real Estate Logo"></a>
        </h1>
        <nav id="nav" aria-label="primary-nav">
            <button id="btn-mobile" aria-label="Open menu" aria-haspopup="true" aria-controls="menu"
                aria-expanded="false">Menu<span id="hamburger"></span></button>
            <ul id="menu" class="header-menu font-p-s white" role="menu">
                <li><a href="{% url 'properties' %}">Properties</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About us</a></li>
                <div class="profile-active">
                    {% if user.is_authenticated %}
                        {% if 'placeholder' in profile.avatar.url %}
                            <img class="avatar" src="http://res.cloudinary.com/emidio-cloud/image/upload/v1649086562/simywv9knuglcd7e3ce8.jpg" 
                                alt="Placeholder image">
                        {% else %}
                            <img class="avatar" src="{{ profile.avatar.url }}" alt="User Picture Profile">
                        {% endif %}
                    <div class="dropdown">
                    {% if user.first_name %}
                        <span class="font-p-s white">{{ user.first_name }}</span>
                    {% else %}
                    <span class="font-p-s white">{{ user.username }}</span>
                    {% endif %}
                        <div class="dropdown-content black">
                        {% if user.is_staff %}
                            <a href="#">Profile</a>
                            <a href="{% url 'admin_panel' %}">Admin panel</a>
                            <a href="{% url 'account_logout' %}">Sign out</a>
                        {% else %}
                            <a href="#">Profile</a>
                            <a href="{% url 'account_logout' %}">Sign out</a>
                        {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <li><a class="menu-btn font-p-m-b primary-color-5" href="{% url 'account_login' %}">Sign In</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
    </div>
</header>