{% load static %}
<!-- START PAGINATION -->
{% if properties.has_other_pages %}
<nav class="pagination" role="navigation" aria-label="pagination">
    <ul>
        <li>Page {{ properties.number }} of {{ properties.paginator.num_pages }}</li>
        {% if properties.has_previous %}
        <li>
            <a href="?page={{ properties.previous_page_number }}">Prev &laquo;</a>
        </li>
        {% else %}
        <li class="disabled">
            <a title="No previous page" disabled>&laquo;</a>
        </li>
        {% endif %}
        {% for page in properties.paginator.page_range %}
        {% if properties.number == page %}
        <li class="active">
            <a>{{ page }}</a>
        </li>
        {% else %}
        <li>
            <a href="?page={{page}}">{{page}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if properties.has_next %}
        <li>
            <a href="?page={{ properties.next_page_number }}">Next &raquo;</a>
        </li>
        {% else %}
        <li class="disabled">
            <a title="No next page" disabled>&raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<!-- END PAGINATION -->
