{% extends 'base.html' %}
{% load static %}

{% block title %}Book a viewing today | Dublin Inn Real Estate{% endblock %}

{% block content %}

    <main id="schedule">
        <div class="title-bg">
            <div class="title container">
                <p class="font-f-l-b gray-5">You are closer to your new home</p>
                <h1 class="font-p-xxl white">Schedule your visit<span class="primary-color-7">.</span></h1>
            </div>
        </div>

        <form class="schedule container" action="{% url 'appointment' property.slug %}" method="POST">
            {% csrf_token %}
            <div class="schedule-content">
                <h2 class="font-p-m-b gray-9">Summary</h2>
                <input type="radio" name="property" value="property" id="property">
                <label for="property">{{ property.property_name }} <span>€ {{ property.property_price }}</span></label>
                <div class="schedule-details">
                    <ul class="font-p-xs gray-8">
                        <li><img src="{% static 'img/icons/icon-bed.svg' %}" alt="">{{ property.bedrooms}} bedrooms</li>
                        <li><img src="{% static 'img/icons/icon-bathtub.svg' %}" alt="">{{ property.bathrooms }} bathrooms</li>
                        <li><img src="{% static 'img/icons/icon-measures.svg' %}" alt="">{{ property.metreage}} m²</li>
                    </ul>
                    <a href="{% url 'property_detail' property.slug %}"><img src="{{ property.image.all.0.image.url }}" alt=""></a>
                    <img src="{% static 'img/map.jpg' %}" alt="">
                </div>
            </div>
            <div class="schedule-form form">
                <h2 class="font-p-m-b gray-9">Contact information</h2>
                <div class="first-name">
                    <label for="first-name">First Name*</label>
                    <input type="text" id="first-name" name="first-name" placeholder="Scott" required>
                </div>
                <div class="last-name">
                    <label for="last-name">Last Name*</label>
                    <input type="text" id="last-name" name="last-name" placeholder="Power" required>
                </div>
                <div class="col-2">
                    <label for="email">Email*</label>
                    <input type="email" id="email" name="email" placeholder="example@example.com" required>
                </div>
                <div class="col-2">
                    <label for="phone">Phone Number*</label>
                    <input type="tel" id="phone" name="phone" placeholder="089 123 456" required>
                </div>
                <h2 class="font-p-m-b gray-9">Appointment details</h2>
                <div class="input-date">
                    <label for="appointment-date">Please select an appointment date</label>
                    <select name="appointment-date">
                    {% for date in property.viewing_date.all %}
                        <option value="{{ date }}">{{ date }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="time-list">
                    <label for="appointment-time">Please select an appointment time</label>
                    <select name="appointment-time">
                    {% for time in property.viewing_time.all %}
                        <option value="{{ time }}">{{ time }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="terms">
                    <input type="checkbox" name="terms" id="terms">
                    <label class="font-f-m gray-11" for="terms">I agree to the <a href="" class="underline">terms and
                            conditions</a>.</label>
                </div>
                <button class="button col-2" type="submit">Confirm</button>
            </div>
        </form>
    </main>

{% endblock %}