/* Inputs */

textarea,
input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=date] {
    font: 400 1rem/1.5 "Fira Sans", sans-serif;
    background-color: var(--gray-1);
    border: 1px solid var(--gray-2);
    padding: 12px;
    margin-left: 0;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

textarea:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=date]:focus {
    outline: none;
    border-color: var(--primary-color-7);
    background-color: var(--white);
    box-shadow: 0 0 0 2px #fea;
}

select {
    padding: 16px;
    background: var(--gray-1);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    width: 100%;
}

select:focus {
    outline: none;
    border-color: var(--primary-color-7);
    background-color: var(--white);
    box-shadow: 0 0 0 2px #fea;
}

/* Buttons */

.button {
    display: inline-block;
    padding: 16px 32px;
    max-width: max-content;
    background-color: var(--primary-color-5);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--white);
    font: 600 1.125rem/1.33 "Poppins", sans-serif;
}

.button.arrow {
    display: flex;
    align-items: center;
}

.button.arrow::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background-image: url(../../img/icons/icon-arrow.svg);
    transition: transform .2s;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 600;
}

.button.arrow:hover::after {
    transform: translateX(4px);
}

.button:hover {
    background-color: var(--primary-color-6);
}

.cancelled {
    background-color: #ff0000;
}


/* Links */

.link {
    display: inline-block;
    color: var(--primary-color-5);
    font: 600 1.5rem/1.33 "Poppins", sans-serif;
    text-transform: uppercase;
}

.link::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--primary-color-5);
}

.link:hover {
    color: var(--primary-color-6);
}

/* Error Messages */

.errors {
    font: 300 0.875rem/1.5 "Fira Sans", sans-serif;
    color: var(--gray-11);
    border: 1px solid var(--gray-3);
    max-width: 1040px;
    padding: 12px 16px;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #fea;
}

@media (max-width: 800px) {

    select,
    textarea,
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=tel],
    input[type=date] {
        width: 100%;
    }
}