{% extends 'base.html' %}
{% load static %}

{% block title %}Our Properties | Dublin Inn Real Estate{% endblock%}

{% block content %}

<main>
    <div class="title-bg">
        <div class="title container">
            <p class="font-f-l-b gray-5">Find a home to call your own</p>
            <h1 class="font-p-xxl white">Our properties<span class="primary-color-7">.</span></h1>
        </div>
    </div>

{% for property in property_list %}
    {% include 'includes/property_card.html' %}
{% endfor %}
</main>

{% include 'includes/pagination.html' %}

{% endblock %}