{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Dublin Inn Real Estate. We offer you a personalised service for the sale, purcharse or rental of real estate.">
    <meta name="keywords" content="Real Estate, Rent, Properties, Dublin, Ireland, Europe ">
    <meta name="author" content="Emidio Valereto">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <title>{% block 'title' %}{% endblock %}</title>
</head>

<body>

    <header class="header-container">
        <div class="header container">
            <h1><a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.svg' %}" alt="Dublin Inn Real Estate Logo"></a></h1>
            <nav id="nav" aria-label="primary-nav">
                <button id="btn-mobile" aria-label="Open menu" aria-haspopup="true" aria-controls="menu"
                    aria-expanded="false">Menu<span id="hamburger"></span></button>
                <ul id="menu" class="header-menu font-p-s white" role="menu">
                    <li><a href="{% url 'property_view' %}">Properties</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About us</a></li>
                    <li><a class="menu-btn font-p-m-b primary-color-5" href="{% url 'account_login' %}">Sign In</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block 'content' %}{% endblock %}

    <footer class="footer-bg">
        <div class="footer container">
            <img src="{% static 'assets/img/logo.svg' %}" alt="">
            <div class="footer-contact">
                <h3 class="font-f-l-b white">Contact</h3>
                <ul class="font-p-m gray-4">
                    <li><a href="tel:+35312345678">+353 1 234 5678</a></li>
                    <li><a href="mailto:help@dublinnreal.ie">help@dublinnreal.ie</a></li>
                    <li>1 O'Connel Street - Dublin 1</li>
                    <li>Dublin - Ireland</li>
                </ul>
                <div class="footer-social">
                    <a href="">
                        <img src="{% static 'assets/img/icons/instagram.svg' %}" alt="">
                    </a>
                    <a href="">
                        <img src="{% static 'assets/img/icons/facebook.svg' %}" alt="">
                    </a>
                    <a href="">
                        <img src="{% static 'assets/img/icons/youtube.svg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="footer-info">
                <h3 class="font-f-l-b white">Info</h3>
                <nav>
                    <ul class="font-p-m gray-3">
                        <li><a href="{% url 'property_view' %}">Properties</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Terms and Conditions</a></li>
                    </ul>
                </nav>
            </div>
            <p class="copy font-f-s gray-4">Dublin Inn - Real State 2022 © All rights reserved</p>
        </div>
    </footer>

    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>