{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Dublin Inn Real Estate. We offer you a personalised service for the sale, purcharse or rental of real estate.">
    <meta name="keywords" content="Real Estate, Rent, Properties, Dublin, Ireland, Europe ">
    <meta name="author" content="Emidio Valereto">
    {% endblock %}

    {% block favicon %}
    <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% include 'includes/header.html' %}

    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}

    {% block corejs %}<script src="{% static 'js/script.js' %}"></script>{% endblock %}

    {% block jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
</body>

</html>