<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Dublin Inn Real Estate. We offer you a personalised service for the sale, purcharse or rental of real estate.">

    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="shortcut icon" href="../static/assets/img/favicon.svg" type="image/x-icon">
    
    <title>Dublin Inn Real Estate | Find your dream house</title>
</head>
<body>
    <header class="header-container">
        <div class="header container">
            <a href="./">
                <img src="../static/assets/img/logo.svg" alt="Dublin Inn Real Estate Logo">
            </a>
            <nav aria-label="primary-nav">
                <ul class="header-menu">
                    <li><a href="">Properties</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About us</a></li>
                </ul>
            </nav>    
        </div>
    </header>

    <main class="intro-container">
        <div class="intro container">
            <div class="intro-content">
                <h1>We help you to find your dream house<span>.</span></h1>
                <p>We offer you a personalised service for the sale, purcharse or rental of real estate.</p>
                <a href="">Get Started</a>
            </div>
            <img src="../static/assets/img/img-intro.jpg" alt="An image of buildings.">
        </div>
    </main>
</body>
</html>