<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Dublin Inn Real Estate. We offer you a personalised service for the sale, purcharse or rental of real estate.">

    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="shortcut icon" href="../static/assets/img/favicon.svg" type="image/x-icon">
    
    <title>Dublin Inn Real Estate | Find your dream house</title>
</head>
<body>
    <header class="header-container">
        <div class="header container">
            <h1><a href="./"><img src="../static/assets/img/logo.svg" alt="Dublin Inn Real Estate Logo"></a></h1>
            <nav aria-label="primary-nav">
                <ul class="header-menu font-p-s">
                    <li><a href="">Properties</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About us</a></li>
                    <li><a class="menu-btn font-p-m-b" href="">Sign In</a></li>
                </ul>
            </nav>    
        </div>
    </header>

    <main class="intro-bg">
        <div class="intro container">
            <div class="intro-content">
                <h2 class="font-p-xxl">We help you to find your dream house<span>.</span></h2>
                <p class="font-f-l">We offer you a personalised service for the sale, purcharse or rental of real estate.</p>
                <a class="button font-p-m-b" href="">Get Started</a>
            </div>
            <div>
                <img src="../static/assets/img/img-intro.jpg" alt="An image of buildings.">
            </div>
        
            <div class="intro-form">
                <p class="font-f-s">Find the price that fits to your budget</p>
                <form action="#">
                    <div class="form-content">
                        <input type="text" name="location" id="location" class="location" placeholder="Location" required>
                        <input type="text" name="property-type" id="property-type" class="property-type" placeholder="Property Type" required>
                        <input type="text" name="price-range" id="price-range" class="price-range" placeholder="Price range" required>
                        <button class="button font-f-xs" type="submit">Search Now</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <article class="property-list">
        <div class="container property-header">
            <h2 class="font-p-xxl">Featured Properties<span>.</span></h2>
            <a class="link-home font-f-m" href="">View all</a>
        </div>
        <ul>
            <li>
                <a href="">
                    <img src="../static/assets/img/properties/house1-home.jpg" alt="Property 1">
                    <h3 class="font-p-xl">Abbey View - Sandyford</h3>
                    <div class="icons font-f-m">
                        <img src="../static/assets/img/icons/icon-bed.svg" alt=""><span>5</span>
                        <img src="../static/assets/img/icons/icon-bathtub.svg" alt=""><span>4</span>
                        <img src="../static/assets/img/icons/icon-measures.svg" alt=""><span>4,204m²</span>
                    </div>
                </a>
            </li>

            <li>
                <a href="">
                    <img src="../static/assets/img/properties/house2-home.jpg" alt="Property 2">
                    <h3 class="font-p-xl">Ivy House - Booterstown</h3>
                    <div class="icons font-f-m">
                        <img src="../static/assets/img/icons/icon-bed.svg" alt=""><span>3</span>
                        <img src="../static/assets/img/icons/icon-bathtub.svg" alt=""><span>2</span>
                        <img src="../static/assets/img/icons/icon-measures.svg" alt=""><span>2,101m²</span>
                    </div>
                </a>
            </li>

            <li>
                <a href="">
                    <img src="../static/assets/img/properties/house3-home.jpg" alt="Property 3">
                    <h3 class="font-p-xl">Naomh Eoin - Blackrock</h3>
                    <div class="icons font-f-m">
                        <img src="../static/assets/img/icons/icon-bed.svg" alt=""><span>2</span>
                        <img src="../static/assets/img/icons/icon-bathtub.svg" alt=""><span>1</span>
                        <img src="../static/assets/img/icons/icon-measures.svg" alt=""><span>85m²</span>
                    </div>
                </a>
            </li>
        </ul>
    </article>

    <article class="container features">
        <div class="features-header">
            <h2 class="font-p-xxl">Why choose us<span>.</span></h2>
        </div>
        <ul class="font-f-m">
            <li>
                <img src="../static/assets/img/why_choose_us_1.svg" alt="">
                <p>Advertise for free to over 50,000 people every day.</p>
            </li>
            <li>
                <img src="../static/assets/img/why_choose_us_2.svg" alt="">
                <p>Track visits and proposals through the application. </p>
            </li>
            <li>
                <img src="../static/assets/img/why_choose_us_3.svg" alt="">
                <p>Wherever you are, close deals without bureaucracy.</p>
            </li>
        </ul>
    </article>
</body>
</html>