<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Dublin Inn Real Estate. We offer you a personalised service for the sale, purcharse or rental of real estate.">

    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="shortcut icon" href="../static/assets/img/favicon.svg" type="image/x-icon">
    
    <title>Dublin Inn Real Estate | Find your dream house</title>
</head>
<body>
    <header class="header-container">
        <div class="header container">
            <h1><a href="./"><img src="../static/assets/img/logo.svg" alt="Dublin Inn Real Estate Logo"></a></h1>
            <nav aria-label="primary-nav">
                <ul class="header-menu">
                    <li><a href="">Properties</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About us</a></li>
                    <li><a class="menu-btn" href="">Sign In</a></li>
                </ul>
            </nav>    
        </div>
    </header>

    <main class="intro-bg">
        <div class="intro container">
            <div class="intro-content">
                <h2 class="font-p-xxl">We help you to find your dream house<span>.</span></h2>
                <p class="font-f-l">We offer you a personalised service for the sale, purcharse or rental of real estate.</p>
                <a class="button font-p-m-b" href="">Get Started</a>
            </div>
            <div>
                <img src="../static/assets/img/img-intro.jpg" alt="An image of buildings.">
            </div>
        
            <div class="intro-form">
                <p class="font-f-l">Find the price that fits to your budget</p>
                <form action="#">
                    <div class="form-content">
                        <input type="text" name="location" id="location" placeholder="Location" required>
                        <input type="text" name="property-type" id="property-type" placeholder="Property Type" required>
                        <input type="text" name="price-range" id="price-range" placeholder="Price range" required>
                        <button class="button font-f-xs" type="submit">Search Now</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>