<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Dublin Inn Real Estate. We offer you a personalised service for the sale, purcharse or rental of real estate.">
    <meta name="keywords" content="Real Estate, Rent, Properties, Dublin, Ireland, Europe ">
    <meta name="author" content="Emidio Valereto">
    <link rel="shortcut icon" href="../static/assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/assets/css/style.css">

    <title>Dublin Inn Real Estate | Find your dream house</title>
</head>

<body id="properties">

    <header class="header-container">
        <div class="header container">
            <h1><a href="./"><img src="../static/assets/img/logo.svg" alt="Dublin Inn Real Estate Logo"></a></h1>
            <nav aria-label="primary-nav">
                <ul class="header-menu font-p-s white">
                    <li><a href="./properties.html">Properties</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About us</a></li>
                    <li><a class="menu-btn font-p-m-b primary-color-5" href="">Sign In</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main id="schedule">
        <div class="title-bg">
            <div class="title container">
                <p class="font-f-l-b gray-5">You are closer to your new home</p>
                <h1 class="font-p-xxl white">Schedule your visit<span class="primary-color-7">.</span></h1>
            </div>
        </div>

        <div class="summary container">
            <section class="summary-card" aria-label="Schedule a visit">
                <h2 class="font-p-m-b gray-9">Summary</h2>
                <div class="summary-content">
                    <h3 class="font-p-s gray-11">Ivy House, Booterstown</h3>
                    <ul class="summary-list font-p-xs gray-8">
                        <li><img src="../static/assets/img/icons/icon-bed.svg" alt="">3 bedrooms</li>
                        <li><img src="../static/assets/img/icons/icon-bathtub.svg" alt="">2 bathrooms</li>
                        <li><img src="../static/assets/img/icons/icon-measures.svg" alt="">2,101 m²</li>
                    </ul>
                    <img src="../static/assets/img/properties/property_2.jpg" alt="">
                </div>
                <div class="summary-map">
                    <img src="../static/assets/img/map.jpg" alt="">
                </div>
            </section>

            <section class="summary-form" aria-label="Form">
                <h2 class="font-p-m-b gray-9">Contact information</h2>
                <form class="form" action="/">
                    <div>
                        <label for="first_name">Name*</label>
                        <input type="text" id="first_name" name="first_name" placeholder="First Name">
                        <input type="text" id="last_name" name="last_name" placeholder="Last Name">
                    </div>
                    <div>
                        <label for="email">Email*</label>
                        <input type="email" id="email" name="email" placeholder="example@example.com">
                    </div>
                    <div>
                        <label for="phone">Phone Number*</label>
                        <input type="text" id="phone" name="phone" placeholder="(000) 000 0000">
                    </div>
                </form>
            </section>

            <section class="summary-form" aria-label="Appointment details">
                <h2 class="font-p-m-b gray-9">Appointment details</h2>
                <form class="form" action="/">
                    <div>
                        <label for="appointment-date">Please select an appointment date</label>
                        <input type="date" id="appointment-date" name="appointment-date" value="2022-03-07" min="2022-03-07"
                            max="2022-12-31">
                    </div>
                </form>
            </section>
        </div>
    </main>

    <footer class="footer-bg">
        <div class="footer container">
            <img src="../static/assets/img/logo.svg" alt="">
            <div class="footer-contact">
                <h3 class="font-f-l-b white">Contact</h3>
                <ul class="font-p-m gray-4">
                    <li><a href="tel:+35312345678">+353 1 234 5678</a></li>
                    <li><a href="mailto:help@dublinnreal.ie">help@dublinnreal.ie</a></li>
                    <li>1 O'Connel Street - Dublin 1</li>
                    <li>Dublin - Ireland</li>
                </ul>
                <div class="footer-social">
                    <a href="">
                        <img src="../static/assets/img/icons/instagram.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/assets/img/icons/facebook.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/assets/img/icons/youtube.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="footer-info">
                <h3 class="font-f-l-b white">Info</h3>
                <nav>
                    <ul class="font-p-m gray-3">
                        <li><a href="./properties.html">Properties</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Terms and Conditions</a></li>
                    </ul>
                </nav>
            </div>
            <p class="copy font-f-s gray-4">Dublin Inn - Real State 2022 © All rights reserved</p>
        </div>
    </footer>

</body>

</html>